@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan/LeagueSpartan-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TY';
    src: url('../fonts/TY/TYSerif-D.woff2') format('woff2');
    src: url('../fonts/TY/TYSerif-D.woff') format('woff');
    src: url('../fonts/TY/TYSerif-D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}
.logo {
    font-family: 'League Spartan';
    font-weight: 600;
    font-size: 48px;
    color: #45503b;
    margin-bottom: 20px;
}
nav {
    background-color: white;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: #45503b;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: #45503b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu-button {
    background-color: #45503b;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
}

.hero {
    position: relative;
    width: 100%;
    height: 60vh; /* Ajustez selon vos besoins */
    overflow: hidden;
    display: flex;
    align-items: flex-end; /* Aligne le contenu en bas */
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h2 {
    position: relative; /* Changé de absolute à relative */
    width: 100%;
    color: #D5FF86;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: 'TY', sans-serif;
    white-space: nowrap; /* Empêche le retour à la ligne */
    overflow: hidden; /* Cache le débordement */
    padding: 0 20px; /* Ajoute un peu d'espace sur les côtés */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    margin-bottom: 20px; /* Espace en bas */

    /* Ajustement automatique de la taille du texte */
    font-size: 10vw; /* Taille de base, ajustez selon vos besoins */
    text-align: center; /* Centre le texte */
}

.about {
    background-color: #45503B;
    color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 0 auto 20px;
}

.cta-button {
    background-color: #61826B;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.testimonials {
    background-color: #DBD9DB;
    padding: 50px 20px;
    text-align: center;
}

.testimonials h2 {
    font-size: 36px;
    color: #0C370F;
    margin-bottom: 30px;
}

.testimonial {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial cite {
    font-weight: bold;
}

.auvergne {
    background-color: #0C370F;
    color: #D5FF86;
    padding: 50px 20px;
    text-align: center;
}

.auvergne h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.auvergne p {
    max-width: 800px;
    margin: 0 auto;
}

.instagram {
    background-color: #B098A4;
    color: #D5FF86;
    padding: 50px 20px;
    text-align: center;
}

.instagram h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.instagram p {
    margin-bottom: 30px;
}

.instagram-accounts {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.insta-handle {
    background-color: #DBD9DB;
    color: #45503B;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background-color: #45503B;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0;
}

footer p {
    margin-bottom: 20px;
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
}
